@font-face {
  font-family: "Roboto";
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmSU5fBBc4.woff2);
}

body {
  margin: 0;
  font-family: "Roboto";
  background-color: $bg-color-1;
  color: $text-color-1;
  font-size: 14;
}

ul {
  list-style: none;
  padding-left: 0;
}

a,
h1,
h2,
h3 {
  color: $text-color-2;
  text-decoration: none;
}

button {
  border: 0px;
  border-bottom: 5px $select-color-1 solid;
  background-color: $text-color-2;
  padding: 1em;
  margin: 0 1em 0 0;
  border-radius: 3px;
  font-size: 1em;
  cursor: pointer;
}
