.l-header {
  height: 290px;

  background-color: $bg-color-2;
  position: sticky;
  box-shadow: $def-shadow;
  margin-bottom: 2em;
}
.l-container {
  display: flex;
  padding: 2em 1em;
}

.l-main {
  background-color: $bg-color-2;
  border-radius: 0.2em;
  text-align: justify;
  width: 85%;
  box-shadow: $def-shadow;
  border-top: 3px solid $select-color-1;
  display: flex;
  flex-direction: column;
}
.l-side {
  width: 15%;
  padding: 1em 1.5em;
}
