.logo {
  height: 220px;
  overflow: visible;
}
.post-preview {
  padding: 2em 1em;
}

.post {
  padding: $std-padding;
}
.post-link {
  display: inline;
}

.recents-head {
  align-self: center;
}

.nav-btn {
  margin: 1em;
}
